body{
    background-color: rgb(227, 229, 255);
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 48, 48);
}
a {
    color: rgb(24, 24, 61);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    
}
ul{
    margin-left: 10%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center ;
}
img {
    width: 100px;
    margin-left: 45%;
    
}

