*{
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    background-color: rgb(51, 48, 48);
    height: 100%;
    margin: 0;
}
span{
    color: gray;
}
div{
    align-items: center;
    background-color: rgb(247, 246, 246);
    color: black;
    width: 100%;
    height: center;
    padding: 20px;
    box-sizing: border-box;
    
}
nav {
    background-color: white;
    border: 1px solid rgb(219, 217, 217);
    width: 87%;
    margin: auto;
}
h1{
    margin: 20px;
    padding: 3px;
    
}
span {
    margin: 15px;
    padding: 5px;
    
}
button{
    background-color: rgb(47, 140, 245);
    width: 95%;
    height: 28px;
    margin: 1em ;
    border-radius: 4px;
    border: 0cap;
    color: white;
    padding-right: 87%;
    
}

header{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    color: gray;
    border: 1px solid black;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: gray;
}